---
import Layout from "../../layouts/Layout.astro";
import Loading from "../../components/Loading.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import games from "../../../public/json/pages.json";
import DNSInstructions from "../../components/DNSInstructions.astro";
export async function getStaticPaths() {
  return games.map((data) => ({
    params: {
      slug: data.gameId,
    },
    props: {
      title: data.gameId,
      text: data.gameName,
      gamespyId: data.gamespyId,
    },
  }));
}
const { title, text, gamespyId } = Astro.props;
---

<Layout
  title={`WiiLink WFC - ${text}`}
  description={`${title} - WiiLink Wi-Fi Connection (WWFC) is a brand new service that allows you to play online games with your friends on your Wii!`}
  image="/img/banners/game.png"
>
  <Loading msg={`${text} - ${title}`} />

  <!-- Grab gameTDB data and insert into the site -->
  <script is:inline src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"
  ></script>
  <script type="module" src="/js/helper_functions.js"></script>
  <script type="module" src="/js/renderer.js"></script>

  <html>
    <body>
      <script>
        0;
      </script>
      <Header hasSearch={true} />
      <DNSInstructions />

      <div class="herobg" id="herobg"><div class="bginner"></div></div>
      <div style="transform:translate(0, 60px);">
        <div
          style="left:50%; width:90%; max-width: 1500px; padding:20px; transform:translate(-50%, 28px);  animation:fadeleft 300ms 0.1s ease-out forwards; opacity:0; position:relative; display:none;"
          id="mobilehide"
        >
          <h1
            id="gameId"
            style="width:900px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;"
          >
            {title}
          </h1>
          <p id="gamespyId" style="display:none">{gamespyId}</p>
          <p
            style="width:500px; transform:translate(86px, -30px); opacity:0.5;"
          >
            {title}
            {gamespyId ? "- " + gamespyId.substring(0, 3) : ""}
          </p>
        </div>
        <div
          id="fetchData"
          style="left:50%; top:50%; transform:translate(-50%, -50%); font-size:20px; color:white; opacity:0; animation:fadein 0.5s 200ms linear forwards; position:absolute;"
        >
          <img
            src="/img/loading.gif"
            style="margin-right:8px; filter:brightness(100000);"
            height="30px"
          /> Fetching game data for <b>{text}</b>...
          <a href="https://discord.gg/wiilink">
            <br /><button
              class="btn btn-primary"
              style="left:50%; transform:translate(-50%, 20px); position:relative;"
            >
              <i class="fa-brands fa-discord"></i> Join our Discord
            </button>
          </a>
        </div>
        <div class="data-holder" id="errnomatch">
          <div id="img"></div>
          <div id="data" style="width:100%; position:relative;"></div>
        </div>
        <div id="onlinecontainer">
          <div id="containerdata"></div>
          <div
            style="color:#4287f5; bottom:-50px; left:-20px; opacity:0.1; text-transform:uppercase; font-family:Gilroy; font-size:100px; position:absolute;"
          >
            Statistics
          </div>
        </div>
        <div
          style="width:90%;  max-width:1500px; left:50%; transform:translate(-50%, 0); display:flex; justify-content:space-between; z-index:1000; position:relative;"
        >
          <div id="dropup" class="btn-group dropup" style="display:none;">
            <button
              type="button"
              class="btn btn-success dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-download" style="margin-right:5px;"></i> Download patches
            </button>
            <ul
              id="downloadPatchButton"
              style="z-index:100000; position:relative;"
              class="dropdown-menu"
            >
            </ul>
          </div>

          <p
            id="powered"
            style="text-align: right; filter:opacity(0.3) brightness(10000); display:none; position:relative;"
          >
            Data provided by <a
              href={`https://www.gametdb.com/wii/${gamespyId ? gamespyId : title}`}
              >GameTDB</a
            > and WiiLink Violet API.
          </p>
        </div>
        <div
          style="width:90%; max-width:1500px; left:50%; transform:translate(-50%, 0); margin-bottom:200px; animation:fadein 200ms linear forwards; opacity:0; display:none; position:relative;"
          id="errhide"
        >
          <h1 style="font-family:Gilroy; margin-top:50px; margin-bottom:20px;">
            About the game:
          </h1>
          <p id="synopsis" style="font-size:20px;">
            This title features no synopsis, why not add one yourself on
            gameTDB?
          </p>
          <h1
            style="font-family:Gilroy;margin-top:50px; margin-bottom:20px; display:flex; fex-wrap:wrap; justify-content:space-between;"
            id="recommendedHeader"
          >
            You may also like:
            <span
              style="color:white; font-family:system-ui; font-size:18px; opacity:0.3; display:flex; align-items:center; position:relative;"
              >Matches genre <i
                style="margin-left:8px; padding:5px; padding-left:10px; padding-right:10px; background-color:#ffffff20; border-radius:4px; position:relative;"
                id="genreSuggestion"></i></span
            >
          </h1>
          <div id="recommendedTitles">
            <i style="color:white;"
              >There are no recommendations for this title...</i
            >
          </div>
        </div>
      </div>
      <Footer />
    </body>
  </html>

  <script is:inline>
    window.addEventListener("scroll", function () {
      const mainDiv = document.getElementById("herobg");
      const scrollPos = document.documentElement.scrollTop;
      mainDiv.style.transform = `translateY(${scrollPos / 2}px)`;
    });

    function toClipboard(data) {
      navigator.clipboard.writeText(data).then(
        function () {
          alert("Copied the text: " + data);
        },
        function (err) {
          console.error("Could not copy text: ", err);
        },
      );
    }

    document.addEventListener("DOMContentLoaded", function () {
      var isSafari =
        /WebKit/.test(navigator.userAgent) &&
        !/Chrome/.test(navigator.userAgent);

      if (isSafari) {
        setTimeout(function () {
          var elements = document.getElementsByClassName("macremove");
          for (var i = 0; i < elements.length; i++) {
            elements[i].innerHTML = "";
          }
        }, 300);
      }
    });

    // Convert .txt to .gct (Gecko Code) file, code provided in great part by the Mario Kart Wii Wiki
    function downloadGCT(gameId, fileUrl) {
      fetch(fileUrl)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.text();
        })
        .then((code) => {
          var gctArray = [0x00, 0xd0, 0xc0, 0xde, 0x00, 0xd0, 0xc0, 0xde];
          var byteCode = codeToHex(code);
          if (!byteCode) return;

          gctArray = gctArray.concat(byteCode);
          gctArray.push(0xf0, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00);

          var byteArray = new Uint8Array(gctArray);
          var blob = new Blob([byteArray], {
            type: "application/octet-stream",
          });
          var url = window.URL.createObjectURL(blob);
          var link = document.createElement("a");
          link.href = url;
          link.download = gameId + ".gct";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        })
        .catch((error) => {
          console.error("Error fetching the file:", error);
        });
    }

    function codeToHex(code) {
      var curatedCode = code.replace(/\s+/g, "");
      if (
        curatedCode.length === 0 ||
        !/^[0-9A-Fa-f]*$/.test(curatedCode) ||
        curatedCode.length % 16 !== 0
      ) {
        alert("Invalid code format.");
        return false;
      }
      var byte_array = [];
      for (var i = 0; i < curatedCode.length; i += 2) {
        var byte = parseInt(curatedCode.substring(i, i + 2), 16);
        byte_array.push(byte);
      }
      return byte_array;
    }
  </script>

  <style>
    html body {
      background-color: rgb(11, 0, 0);
    }
    h1 {
      color: white;
    }
    p {
      color: white;
    }
    .herobg {
      background: linear-gradient(
          to bottom,
          rgba(11, 0, 0, 0) 0%,
          rgba(11, 0, 0, 1) 80%
        ),
        url("/img/bg.png");
      opacity: 0.5;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: changecolor 10s infinite;
      width: 100%;
      height: 100vh;
      transform: translate(0, 0px);
      animation: fadeinopaque 2000ms ease-in-out forwards;
      position: absolute;
      z-index: -10;
      overflow: hidden;
    }

    #img {
      height: 440px;
      background-color: #151414;
      border-radius: 8px;
      background-image: url("/img/bg.png");
      background-size: cover;
      position: relative;
    }

    .customhover {
      background: -webkit-linear-gradient(#fff, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 0.3s;
    }

    .customhover:hover {
      background: -webkit-linear-gradient(#6cb3ff, #d4e976);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      scale: 1.1;
      transform: rotate(5deg);
      transition: 0.3s;
    }

    #onlinecontainer {
      left: 50%;
      transform: translate(-50%, 0);
      width: 90%;
      height: auto;
      min-height: 300px;
      max-width: 1500px;
      border-radius: 8px;
      border: 2px solid #4287f530;
      margin-bottom: 20px;
      background-color: #151414ea;
      padding: 20px;
      display: none;
      overflow: hidden;
      position: relative;
    }

    .data-holder {
      left: 50%;
      transform: translate(-50%, 0);
      width: 90%;
      max-width: 1500px;
      margin-bottom: 18px;
      display: flex;
      gap: 20px;
      position: relative;
    }

    .herobg::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to bottom,
        rgba(11, 0, 0, 0) 0%,
        rgba(11, 0, 0, 1) 80%
      );
      pointer-events: none;
    }

    #imgCaroussel {
      left: 50%;
      width: 100%;
      height: 300px;
      width: 100%;
      transform: translate(-50%, 0);
      border-radius: 8px;
      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      position: relative;
    }
  </style>

  <style is:global>
    .coverimg {
      height: 440px;
      width: 310px;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.3s;
    }
    .coverimg:hover {
      transform: scale(1.03);
      box-shadow: 0px 0px 20px 0px #ffffff10;
      transition: 0.3s;
    }
    #mobileinner {
      transform: scale(1);
      transition: 0.2s;
    }
    #mobileinner:hover {
      transform: scale(1.03);
      box-shadow: 0px 0px 20px 0px #ffffff05;
      transition: 0.3s;
    }
    #card-bg {
      width: 100%;
      transform: translate(0, -50%);
      filter: blur(8px) opacity(0.1) grayscale(0.7);
      position: absolute;
      transition: 0.3s;
    }
    .recommended-title:hover #card-bg {
      filter: blur(8px) opacity(0.2) grayscale(0.3);
      transition: 0.3s;
    }
    .recommended-title {
      color: white;
      background-color: #ffffff10;
      border: 2px solid #ffffff20;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      transition: 0.3s;
    }
    .recommended-title:hover {
      transform: scale(1.03);
      box-shadow: 0px 0px 20px 0px #ffffff10;
      border: 2px solid #ffffff60;
      transition: 0.3s;
    }
    .img-bg {
      transform: scale(110%);
      filter: blur(8px) opacity(0.1) grayscale(0.7);
      position: absolute;
      transition: 0.3s;
    }
    .recommended-title:hover .img-bg {
      filter: blur(8px) opacity(0.2) grayscale(0.3);
      transition: 0.3s;
    }
    #recommendedTitles {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      position: relative;
    }
    .imginner {
      height: 440px;
      transform: translate(-52.3%, 0);
      color: white;
      transition: 0.5s;
      overflow: hidden;
    }
    l {
      height: 100%;
      background-color: #151414d8;
      border: 2px solid #272525;
      border-radius: 8px;
      text-align: center;
      padding: 10px;
      padding-left: 18px;
      padding-right: 18px;
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      box-shadow: 0px 0px 20px 0px #62626210;
      overflow: hidden;
      transition: 0.3s;
    }
    l:hover {
      transform: scale(1.01);
      transition: 0.3s;
    }
    .smalldatapill {
      width: 100%;
      justify-content: center;
      align-items: center;
      color: white;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
      gap: 15px;
      position: relative;
    }
    .bigdatapill {
      width: 100%;
      justify-content: center;
      align-items: center;
      color: white;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      gap: 15px;
      position: relative;
    }
    .bginner {
      top: 0;
      left: 0;
      width: 100%;
      filter: blur(16px) grayscale(0);
      opacity: 0.3;
      position: absolute;
      transform: scale(1.3);
    }
    .coverimg:hover .imginner {
      transform: translate(0%, 0);
      transition: 0.5s;
    }

    @media only screen and (max-width: 1500px) {
      .genre {
        grid-column: auto / span 6 !important;
      }
      .rating {
        grid-column: auto / span 5 !important;
      }
    }

    @media only screen and (max-width: 1390px) {
      .data-holder {
        width: 95% !important;
        flex-direction: column;
      }
      #onlinecontainer {
        width: 95% !important;
      }
      #img {
        width: 100%;
        height: 100%;
        transform: translate(0, 0);
      }
      .coverimg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        position: relative;
      }
      .coverimg:hover {
        transform: translate(-50%, -50%);
        transition: 0.5s;
      }
      .imginner {
        height: 100%;
      }
    }

    @media only screen and (max-width: 1264px) {
      #extradata {
        grid-column: auto / span 14 !important;
      }
      #publisher {
        grid-column: auto / span 6 !important;
      }
    }

    @media only screen and (max-width: 1000px) {
      .data-holder {
        width: 95% !important;
        flex-direction: column;
      }
      #onlinecontainer {
        width: 95% !important;
      }
      #img {
        width: 100%;
        height: 100%;
        transform: translate(0, 0);
      }
      .coverimg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        position: relative;
      }
      .coverimg:hover {
        transform: translate(-50%, -50%);
        transition: 0.5s;
      }
      .imginner {
        height: 100%;
      }
      .smalldatapill {
        display: flex !important;
        flex-wrap: wrap;
      }
      .bigdatapill {
        display: flex;
        flex-wrap: wrap;
      }
      l {
        width: 100%;
      }
      #mobilehide {
        display: none !important;
      }
      #onlinemobile {
        height: 200px;
        position: relative;
      }
      #mobilestats {
        transform: translate(0, 20px);
        width: 100% !important;
        display: flex !important;
        flex-wrap: wrap;
      }
      #recommendedHeader,
      #recommendedTitles {
        opacity: 0;
        display: none;
      }
      #mobileinner {
        width: 100%;
      }
      #data {
        width: 100%;
        transform: translate(0, 0);
      }
      #containerdata {
        width: 100%;
        transform: translate(0, 0);
      }
      #onlinecontainer {
        width: 100%;
        transform: translate(0, 0);
      }
      #synopsis {
        max-height: 300px;
        overflow: scroll;
      }
      #imgCaroussel {
        width: 100%;
        transform: translate(0, 0);
      }
      .coverimg {
        height: 300px;
        width: 210px;
      }
      .imginner {
        height: 300px;
        transform: translate(-52.3%, 0);
      }
      .smalldatapill {
        grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
      }
      .bigdatapill {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      }
    }
  </style>
</Layout>
