<div
  style=" width:calc(100% + 53px); display:flex; align-items:center; justify-content:center; flex-direction:row;"
>
  <input
    type="text"
    id="game-search-online"
    placeholder="   Search for any Wii title..."
    style="font-family:system-ui, FontAwesome"
  />
  <input type="checkbox" id="onlineOnly" style="display: none;" />
  <label
    for="onlineOnly"
    style="right:0; transform:translate(-45px, 0); z-index:100000000; position:relative;"
  >
    <i class="fa-solid fa-earth-americas"></i>
  </label>
</div>
<div id="suggestions-online"></div>

<script type="module" src="/js/helper_functions.js"></script>
<script type="module" is:inline>
  import { loadImage } from "/js/helper_functions.js";
  var gameSearchInput = document.getElementById("game-search-online");
  var suggestionsDiv = document.getElementById("suggestions-online");
  var onlineFilterButton = document.getElementById("onlineOnly");

  document.getElementById("onlineOnly").addEventListener("change", function () {
    var icon = document.querySelector("#onlineOnly + label i");
    if (this.checked) {
      icon.className = "fa-solid fa-check-circle";
      fetchQuery();
      setTimeout(function () {
        suggestionsDiv.style.visibility = "visible";
        suggestionsDiv.style.maxHeight = "618px";
        suggestionsDiv.style.overflowY = "scroll";
        gameSearchInput.focus();
      }, 500);
      setTimeout(function () {
        icon.className = "fa-solid fa-earth-americas";
      }, 500);
    } else {
      icon.className = "fa-solid fa-circle-xmark";
      fetchQuery();
      setTimeout(function () {
        suggestionsDiv.style.visibility = "visible";
        suggestionsDiv.style.maxHeight = "618px";
        suggestionsDiv.style.overflowY = "scroll";
        gameSearchInput.focus();
      }, 500);
      setTimeout(function () {
        icon.className = "fa-solid fa-earth-americas";
      }, 500);
    }
  });

  gameSearchInput.addEventListener("focus", function (e) {
    suggestionsDiv.style.visibility = "visible";
    suggestionsDiv.style.maxHeight = "618px";
    setTimeout(function () {
      suggestionsDiv.style.overflowY = "scroll";
    }, 200);
  });

  gameSearchInput.addEventListener("blur", function (e) {
    setTimeout(function () {
      if (suggestionsDiv.contains(document.activeElement)) {
        return;
      }
      suggestionsDiv.style.maxHeight = "0px";
      suggestionsDiv.style.overflowY = "hidden";
      setTimeout(function () {
        suggestionsDiv.style.visibility = "hidden";
      }, 200);
    }, 0);
  });

  gameSearchInput.addEventListener("input", function (e) {
    fetchQuery();
  });

  gameSearchInput.addEventListener("keydown", function (e) {
    if (e.key === "Enter") {
      e.preventDefault();
      const firstSuggestion = document.querySelector("#suggestionitem");
      if (firstSuggestion) {
        window.location.href = firstSuggestion.getAttribute("href");
      }
    }
  });

  function fetchQuery() {
    const gamesPromise = fetch("../../json/pages.json").then((response) =>
      response.json(),
    );
    const gamespyTitlesPromise = fetch("../../json/gamespy_titles.json").then(
      (response) => response.json(),
    );

    Promise.all([gamesPromise, gamespyTitlesPromise])
      .then(([games, gamespyTitles]) => {
        const gameSearchInput = document.getElementById("game-search-online");
        const suggestionsDiv = document.getElementById("suggestions-online");
        const inputText = gameSearchInput.value.toLowerCase();
        const onlineOnly = document.getElementById("onlineOnly").checked;
        let counter = 0;
        let suggestionsHTML =
          '<p style="margin-left:20px; font-family:Gilroy; font-size:20px; transform:translate(0, 5px); color:white;">Suggestions:</p>';

        // Split input text into individual words
        const inputWords = inputText.split(/\s+/);

        for (const game of games) {
          const gameIdPrefix = game.gameId.substring(0, 3).toLowerCase();
          const isFound = gamespyTitles.some(
            (gamespyTitle) =>
              gamespyTitle.GameID === gameIdPrefix || game.gamespyId,
          );

          // Check if any word in the game name starts with any input word
          const matches = inputWords.some((inputWord) =>
            game.gameName.toLowerCase().includes(inputWord),
          );

          // Check if the input matches the gameId
          const matchesGameId = game.gameId.toLowerCase().includes(inputText);

          if ((matches || matchesGameId) && (!onlineOnly || isFound)) {
            const discImage = game.gamespyId ? game.gamespyId : game.gameId;
            let onlineFeatures = "";
            let gamespyId = "";

            if (game.gamespyId) {
              onlineFeatures +=
                '<i class="fa-solid fa-earth-americas" style=" padding:5px; padding-left:10px; padding-right:10px; background-color:#3c86c7; border-radius:4px; font-size:15px; margin-right:18px;"></i>';
              gamespyId = " | " + game.gamespyId;
            }

            suggestionsHTML += `
                        <a href="/online/${game.gameId}" id="suggestionitem" style="width:95%; height:100px; margin:10px; border-radius:8px; color:white; text-decoration:none; display:flex; align-items:center; justify-content:space-between; flex-direction:row; overflow:hidden; position:relative;">
                            <img src="${loadImage("cover", discImage)}" onerror="this.onerror=null; this.src='/img/disc_placeholder.png';" style="filter:blur(8px) opacity(0.1); position:absolute;" width="100%">
                            <img src="${loadImage("disc", discImage)}" onerror="this.onerror=null; this.src='/img/disc_placeholder.png';" style="margin-left:20px; margin-right:15px;" width="70px"><div style="width:300px; margin-right:20px; font-size:30px; white-space:nowrap; text-overflow:ellipsis; line-height:30px; text-align:right; overflow:hidden;">${game.gameName}<br><i>${onlineFeatures}</i><i style="font-size:20px; opacity:0.7;">${game.gameId}${gamespyId}</i></div></a>`;
            counter++;
          }
          if (counter >= 5) {
            break;
          }
        }
        if (counter === 0) {
          suggestionsHTML =
            "<center style='margin-top:18px; font-size:48px; color:white;'><i class='fa fa-heart-broken'></i><br><p style='font-size:28px;'>No results found</p></center>";
        }

        suggestionsDiv.innerHTML = suggestionsHTML;
      })
      .catch((error) => {
        console.error("Error fetching data:", error);
      });
  }
</script>

<style>
  #onlineOnly:checked + label {
    background-color: #3c86c7;
    opacity: 1;
    transition: 0.3s;
  }
  label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 18px;
    background-color: #ffffff00;
    opacity: 0.5;
    transition: 0.3s;
  }
  label:hover {
    opacity: 1;
    transition: 0.3s;
  }
  #game-search-online {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    border: 2px solid #ffffff10;
    background-color: rgba(23, 23, 23, 0.965);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 100;
    position: relative;
  }
  #suggestions-online {
    max-height: 0px;
    width: 100%;
    transform: translate(0, -8px);
    resize: vertical;
    padding-top: 5px;
    background-color: rgba(23, 23, 23, 0.965);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid #ffffff10;
    border-top: 0px;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
    position: absolute;
    transition: 0.2s;
  }
</style>
